<!--En gros ca c'est la page de base dans lequel on va recup les autres !-->
<a href="/Jeux">JEUX </a> <!-- on va dans un lien vers localhost:3005/Jeux/ (pas dans la categorie jeux) ca mene dans l'url en gros !-->
<a href="/Genres">Genres </a>
<a href="/Editeurs">EDITEURS </a>
<a href="/Jeux/Ajouter">Ajouter un jeu</a>