<!--En gros ca c'est la page de base dans lequel on va recup les autres !-->
<p><a href="/Jeux">JEUX </a> </p><!-- on va dans un lien vers localhost:3005/Jeux/ (pas dans la categorie jeux) ca mene dans l'url en gros !-->
<p><a href="/Genres">GENRES </a></p>
<p><a href="/Editeurs">EDITEURS </a></p>

<h1>Jeux mis à la une /en avant</h1>
<ul>
{{#if jeuxEnAvant}}
    {{#each jeuxEnAvant}}
            
                <li> <a href="/Jeux/{{id}}/details">{{titre}}</a> </li>              
    {{/each}}
{{else}}
    <li>Pas de jeux</li>
{{/if}}
</ul>