<h1>Liste des jeux</h1>
<a href="../">RETOUR à la page precedente</a>
<ul>
    {{#each jeu}} 
        <li>
            <a href="/Jeux/{{titre}}/details">{{titre}}</a> 
        </li>
    {{/each}}
</ul>
