<h1>Liste des jeux</h1>
<a href="../">RETOUR à la page precedente</a>
<a href="/Jeux/Ajouter">Ajouter un jeu</a>
<ul>

    {{#each jeux}} <!--la variable qu'on a cree dans server qui stock tout les jeux!-->
        <li>
            <a href="/Jeux/{{id}}/details">{{titre}}</a><!--dans la route yaura marqué le nom du jeu mais si jmet id a la place du premier bah ce serra l'if!-->
        
        </li>
    {{/each}}
</ul>
