JE SUIS DANS LE JEU
<a href="../">RETOUR accueil (page precedente)</a> <!--en groooos, ca permet de retourner a la page d'avant, comme dans le cmd)!-->

<ul>
    {{#each jeux}} <!--la variable qu'on a cree dans server qui stock tout les jeux!-->
        <li>
            <a href="/Jeux/{{this.id}}/details">{{this.titre}}</a><!--dans la route yaura marqué le nom du jeu mais si jmet id a la place du premier bah ce serra l'if!-->
            
            <!-- pour la page qui affiche tout les jeux on s'en fout , mais A REUTILISER DANS DETAILS PEUT ETRE!-->
            {{!-- <p>Genre : {{genreId}}</p> <!--affiche le genre du jeu!-->
            <p>Éditeur: {{editeurId}}</p> --}}
        </li>
    {{/each}}
</ul>
