JE SUIS DANS LE JEU
<a href="../">RETOUR accueil (page precedente)</a>
<ul>
    {{#each jeu}} 
        <li>
            <a href="/Jeux/{{titre}}/details">{{titre}}</a> 
        </li>
    {{/each}}
</ul>
