
JE SUIS DANS LES EDITEURS
<a href="../">RETOUR accueil (page precedente)</a> 

<ul>
    {{#each editeurs}} 
        <li>
            <a href="/Editeurs/{{id}}/jde">{{nom}}</a>
            
        </li>
    {{/each}}
    {{#each jeu}}
        <li>
            <a href="/Jeux/{{titre}}/details">{{titre}}</a> 
        </li>
    {{/each}}
</ul>
