<div class="jeu-container">
    <h2 class="jeu-titre">Liste des éditeurs</h2>
    
    <div class="jeu-liste">
        {{#each editeurs}}
            <div class="editeur-card">
                <p class="jeu-info">Nom : <a class="badge" href="/Editeurs/{{id}}/jde">{{nom}}</a></p>
                
                <div class="jeu-actions">
                    <form action="/Editeurs/{{id}}/delete?_method=DELETE" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer cet éditeur ?');">
                        <button class="btn-supprimer" type="submit">Supprimer l'éditeur</button>
                    </form>
                    <a class="btn-modifier" href="/Editeurs/{{id}}/edit">Modifier l'éditeur</a>
                </div>
            </div>
        {{/each}}
    </div>
    
    <div class="jeu-navigation">
        <a class="btn-ajouter" href="/Editeurs/Ajouter">Ajouter un éditeur</a>
        <a class="btn-retour" href="../">Retour à la page précédente</a>
    </div>
</div>
